/* Global */

:root {
  /* General */
  --color-text: var(--color-black);

  /* Colors */
  --color-black: #050a13;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* CSS reset */
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}

/* .title {
  font-size: 2rem;
} */

/* 1. Header */
/* - 로고, nav메뉴, 햄버거toggle */
.header {
  /* background-color: transparent; */
  background-color: lightgray;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__logo {
  display: flex;
}
.header__logo__title {
  font-size: 1.5rem;
}

.header__menus {
  display: flex;
  flex-direction: row;
}

.header__menu {
  margin: 0.5rem;
}

/* 2. Main */

/* #carouselExampleCaptions {
  z-index: -1;
} */

#movie {
  background-color: skyblue;
}

/* 3. Footer */
